﻿@model IEnumerable<WebApplication1.Models.Domain.Message>

@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Messagetxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Messagetxt)
            </td>
            <td>
                <img src="@item.Content" style="width:230px;height:150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
}
    </tbody>
</table>
